.page
  font-family Gotham Pro, Arial, sans-serif
  font-size font__small
  font-height 120%
  margin 0
  // прилипающий подвал
  height 100%

  &__wrapper
    temp()
    width width__mobile
    margin 0 auto
