.page
  font-family "GothamPro", Arial, sans-serif
  font-size font
  line-height 14px
  margin 0
  // прилипающий подвал
  height 100%

  @media(min-width: width__tablet)
    font-size font--tablet
    line-height 19px

  @media(min-width: width__desktop)
    font-size font--desktop
    line-height 17px
