.promo

  &__content
    temp()
    display flex
    flex-direction column
    align-items flex-end
    padding 32px 20px 0 20px

  &__card
    temp()

  &__head
    margin 0 0 16px 0
    font-size font__head

  &__text
    margin 0 0 24px 0
    color color__grey
    font-weight normal

  &__btn
    margin 0 0 170px 0

  &__img
    display block
    margin -25px 0 0 0

    & img
      temp()
      width 210px
      height 175px
      transform scale(-1, 1)
