.filters
  temp()

  @media(min-width: width__tablet)
    display flex

  @media(min-width: width__desktop)
    justify-content space-between

  & .range-control
    temp()
    margin 0 0 10px 0

    @media(min-width: width__tablet)
      margin 0 72px 22px 0

  & .options-list
    temp()
