.btn
  width 102px
  padding 6px 9.4px
  font-size font__btn
  line-height 240%
  background-color transparent
  color color__blue
  text-decoration none
  border-radius 6px
  border 1px solid color__blue

  &--promo
    color white
    border-color color__blue
    background-color color__blue
