.nav
  temp()
  display flex
  flex-wrap wrap
  width 100%

  @media(min-width: width__tablet)
    margin -6px 0 0 0

  @media(min-width: width__desktop)
    margin 0

  &__link
    display block
    width 50%
    margin 0 0 13px 0
    color color__grey
    text-decoration none

    &--blog
      order 2

    &--solutions
      order 3

    &--datacenters
      order 4

    &--cloud
      order 5

    &--offices
      order 6

    &--equipment
      order 7

    &--about
      order 8

    &:hover
      opacity opactiy

    &:active
      color color__darkgrey

    &:active svg
      fill color__darkgrey

    @media(min-width: width__tablet)
      width 25%
      margin 0 0 15px 0
      font-size font

      &--equipment
        order 2

      &--datacenters
        order 3

      &--blog
        order 4

      &--cloud
        order 5

      &--solutions
        order 6

      &--about
        order 7

      &--offices
        order 8

    @media(min-width: width__desktop)
      font-size font--desktop
