nav(class="nav")
  a(class="nav__link", href="https://selectel.ru/", target="blank") Серверы
  a(class="nav__link nav__link--solutions", href="https://selectel.ru/", target="blank") Решения
  a(class="nav__link nav__link--cloud", href="https://selectel.ru/", target="blank") Облако
  a(class="nav__link nav__link--equipment", href="https://selectel.ru/", target="blank") Оборудование
  a(class="nav__link nav__link--blog", href="https://selectel.ru/", target="blank") Блог
  a(class="nav__link nav__link--datacenters", href="https://selectel.ru/", target="blank") Дата-центры
  a(class="nav__link nav__link--offices", href="https://selectel.ru/", target="blank") Офисы
  a(class="nav__link nav__link--about", href="https://selectel.ru/", target="blank") О компании
