ul(class="options")
  li(class="options__option")
    input(type="checkbox", name="GPU option", value="GPU", id="gpu-js")
    label(for="gpu-js") GPU
  li(class="options__option")
    input(type="checkbox", name="RAID option", value="RAID", id="raid-js")
    label(for="raid-js") RAID
  li(class="options__option")
    input(type="checkbox", name="SSD option", value="SSD", id="ssd-js")
    label(for="ssd-js") SSD
