.options
  margin 0
  padding 0
  list-style none

  &__option
    padding 7px 0

    & input[type="checkbox"]
      hide()

      &:checked + label::before
        border-color color__darkenblue
        background url("../img/tick.svg") no-repeat center
        background-size 80%

      &:disabled + label::before
        border-color color__lightgrey

    & label
      position relative
      padding 0 0 0 28px
      color color__darkgrey

      &:hover
        cursor pointer

      &::before
        position absolute
        top 50%
        left 0
        content ""
        transform translateY(-50%)
        width 18px
        height 18px
        border 2px solid color__darkgrey
        border-radius 50%
