.footer
  box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.3);

  &__content
    temp()
    display flex
    width "calc(%s - 20px - 20px)" % width__mobile
    margin 0 auto
    padding 32px 20px 24px 20px

    @media(min-width: width__tablet)
      width "calc(%s - 2 * %s)" % (width__tablet padding__content--tablet)
      padding 32px padding__content--tablet 72px padding__content--tablet

    @media(min-width: width__desktop)
      width "calc(%s - 2 * %s)" % (width__desktop 154px)
      padding 40px 154px 62px 154px

  &__wrapper
    temp()
    display flex
    flex-direction column
    align-items center
    margin 0 28px 0 0

    @media(min-width: width__tablet)
      align-items flex-start
      margin 0 34px 0 0

    @media(min-width: width__desktop)
      margin 0 48px 0 0

    & .logo
      temp()
      margin 0 0 15px 0

      @media(min-width: width__tablet)
        margin 0 0 20px 0

      @media(min-width: width__desktop)
        margin 0 0 25px 0
