@font-face {
  font-weight: normal;
  font-family: "GothamPro";
  font-style: normal;
  font-display: optional;
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
}
.btn {
  display: block;
  width: 102px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 240%;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid #2f93fe;
  color: #2f93fe;
  text-align: center;
  background-color: transparent;
}
.btn:hover {
  background-color: #b3d8ff;
  cursor: pointer;
}
.btn:active {
  background-color: #71b6ff;
}
.btn:disabled {
  opacity: 0.6;
}
.btn--colored {
  width: 111px;
  color: #fff;
  border-color: #2f93fe;
  background-color: #2f93fe;
}
@media (min-width: 768px) {
  .btn--colored {
    width: 160px;
    font-size: 14px;
  }
}
.btn--colored:hover {
  background-color: #71b6ff;
  border-color: #71b6ff;
}
.btn--colored:active {
  background-color: #0971f5;
  border-color: #0971f5;
}
.btn--colored:disabled {
  background-color: #c8c8c8;
  border-color: #c8c8c8;
}
.logo:hover {
  opacity: 0.6;
}
.logo img {
  width: 52px;
  height: 10px;
}
@media (min-width: 768px) {
  .logo img {
    width: 82px;
    height: 18px;
  }
}
@media (min-width: 1200px) {
  .logo img {
    width: 112px;
    height: 24px;
  }
}
.page {
  font-family: "GothamPro", Arial, sans-serif;
  font-size: 12px;
  font-height: 120%;
  margin: 0;
  height: 100%;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .page {
    font-size: 14px;
  }
}
.page__wrapper {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page__wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__wrapper {
    width: 1200px;
  }
}
.header__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px 22px 10px 18px;
}
@media (min-width: 768px) {
  .header__content {
    padding: 16px 30px;
  }
}
@media (min-width: 1200px) {
  .header__content {
    padding: 16px 150px;
  }
}
.contacts {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  list-style: none;
  width: 56px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .contacts {
    width: 115px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    width: auto;
  }
}
.contacts__item {
  display: -webkit-box;
  display: flex;
}
.contacts__item:hover {
  opacity: 0.6;
}
.contacts__item:active .contacts__link {
  color: #29435d;
}
.contacts__item:active svg {
  fill: #29435d;
}
@media (min-width: 1200px) {
  .contacts__item {
    margin: 0 44px 0 0;
    font-size: 12px;
  }
}
.contacts__item:last-child {
  margin: 0;
}
.contacts__link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  color: #8391b2;
}
.contacts__icon {
  fill: #8391b2;
}
@media (min-width: 1200px) {
  .contacts__icon {
    margin: 0 16px 0 0;
  }
}
.contacts__icon--tl {
  width: 8px;
  height: 9px;
}
@media (min-width: 768px) {
  .contacts__icon--tl {
    width: 12px;
    height: 13px;
  }
}
.contacts__icon--mail {
  width: 9px;
  height: 7px;
}
@media (min-width: 768px) {
  .contacts__icon--mail {
    width: 16px;
    height: 12px;
  }
}
.contacts__icon--tg {
  width: 8px;
  height: 8px;
}
@media (min-width: 768px) {
  .contacts__icon--tg {
    width: 12px;
    height: 12px;
  }
}
.contacts span {
  display: none;
}
@media (min-width: 1200px) {
  .contacts span {
    display: block;
  }
}
.promo__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  padding: 32px 20px 0 20px;
}
@media (min-width: 768px) {
  .promo__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 62px 30px 0 30px;
  }
}
@media (min-width: 1200px) {
  .promo__content {
    padding: 76px 108px 0 150px;
  }
}
.promo__card {
  width: 100%;
}
@media (min-width: 1200px) {
  .promo__card {
    width: 528px;
  }
}
.promo__head {
  margin: 0 0 23px 0;
  font-size: 18px;
}
@media (min-width: 768px) {
  .promo__head {
    margin: 0 0 20px 0;
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .promo__head {
    margin: 0 0 23px 0;
    font-size: 32px;
  }
}
.promo__text {
  margin: 0 0 26px 0;
  color: #8391b2;
  font-weight: normal;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 16px;
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1200px) {
  .promo__text {
    font-size: 18px;
  }
}
.promo__picture {
  z-index: -1;
}
@media (min-width: 768px) {
  .promo__picture {
    z-index: auto;
  }
}
.promo img {
  display: block;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  margin: -25px 10px 0 0;
  width: 210px;
}
@media (min-width: 768px) {
  .promo img {
    width: 294px;
    margin: -30px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .promo img {
    width: 380px;
    margin: -56px 0 0 0;
  }
}
.config__content {
  padding: 30px 20px 0 20px;
}
@media (min-width: 768px) {
  .config__content {
    padding: 54px 30px 0 30px;
  }
}
@media (min-width: 1200px) {
  .config__content {
    padding: 8px 150px 0 150px;
  }
}
.config__head {
  margin: 0 0 28px 0;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .config__head {
    margin: 0 0 44px 0;
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .config__head {
    margin: 0 0 62px 0;
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .filters {
    display: -webkit-box;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .filters {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}
.filters .range-control {
  margin: 0 0 10px 0;
}
@media (min-width: 768px) {
  .filters .range-control {
    margin: 0 72px 22px 0;
  }
}
.range-control {
  display: -webkit-box;
  display: flex;
  padding: 6px 0 24px 0;
}
@media (min-width: 768px) {
  .range-control {
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 310px;
  }
}
.range-control__label {
  margin: 0 32px 0 0;
}
@media (min-width: 768px) {
  .range-control__label {
    font-size: 18px;
  }
}
.range-control__wrapper {
  position: relative;
  padding: 6px 0 5px 0;
}
@media (min-width: 768px) {
  .range-control__wrapper {
    padding: 9px 0 5px 0;
  }
}
.range-control__bar {
  position: relative;
  width: 204px;
  height: 2px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#2f93fe), color-stop(50%, #2f93fe), color-stop(50%, #e5e5e5), to(#e5e5e5));
  background: linear-gradient(to right, #2f93fe 0%, #2f93fe 50%, #e5e5e5 50%, #e5e5e5 100%);
}
@media (min-width: 768px) {
  .range-control__bar {
    width: 246px;
  }
}
.range-control__bar:hover {
  cursor: pointer;
}
.range-control__bar::before,
.range-control__bar::after {
  position: absolute;
  top: 3px;
  width: 20px;
  height: 12px;
  color: #c8c8c8;
}
.range-control__bar::before {
  left: 0;
  content: "2";
  text-align: left;
}
.range-control__bar::after {
  right: 0;
  content: "12";
  text-align: right;
}
.range-control__toggle {
  box-shadow: 1px 1px 1px #111, 0px 0px 1px #1d1d1d;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.range-control__toggle:hover {
  width: 15px;
  height: 15px;
}
.range-control__toggle:active {
  cursor: pointer;
}
.range-control__output {
  background: none;
  border: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #29435d;
  text-align: center;
}
.options {
  margin: 8px 0 0 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .options {
    margin: 4px 0 0 0;
    display: -webkit-box;
    display: flex;
  }
}
@media (min-width: 768px) {
  .options {
    margin: 8px 0 0 0;
  }
}
.options__option {
  padding: 14px 0;
}
@media (min-width: 768px) {
  .options__option {
    padding: 0;
    margin: 0 50px 0 0;
  }
  .options__option:last-child {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .options__option {
    margin: 0 120px 0 0;
  }
  .options__option:last-child {
    margin: 0 50px 0 0;
  }
}
.options__option input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.options__option input[type="checkbox"]:checked + label::before {
  border-color: #0971f5;
  background: url("../img/tick.svg") no-repeat center;
  background-size: 80%;
}
.options__option input[type="checkbox"]:disabled + label::before {
  border-color: #c8c8c8;
}
.options__option label {
  position: relative;
  padding: 0 0 0 28px;
  color: #29435d;
}
@media (min-width: 768px) {
  .options__option label {
    font-size: 16px;
  }
}
.options__option label:hover {
  cursor: pointer;
}
.options__option label::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #29435d;
  border-radius: 50%;
}
.catalog__content {
  padding: 23px 20px;
}
@media (min-width: 768px) {
  .catalog__content {
    padding: 16px 30px 60px 30px;
  }
}
@media (min-width: 1200px) {
  .catalog__content {
    padding: 36px 150px 80px 150px;
  }
}
.catalog__head {
  margin: 0 0 18px 0;
  font-size: 14px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .catalog__head {
    margin: 0 0 22px 0;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .catalog__head {
    margin: 0 0 30px 0;
  }
}
.catalog__message {
  display: none;
  font-weight: bold;
  color: #c02c25;
}
.catalog__message--show {
  display: block;
}
.product {
  border: 1px solid #8391b2;
  border-radius: 7px;
  padding: 18px 16px 15px 16px;
  margin: 0 0 16px 0;
}
.product:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .product {
    padding: 28px 28px 28px 10px;
    margin: 0 0 14px 0;
  }
}
@media (min-width: 1200px) {
  .product {
    padding: 26px 16px 24px 16px;
    margin: 0 0 10px 0;
  }
}
.product__head {
  font-size: 12px;
  color: #29435d;
  margin: 0 0 16px 0;
}
@media (min-width: 768px) {
  .product__head {
    font-size: 16px;
    margin: 0 0 18px 0;
  }
}
@media (min-width: 1200px) {
  .product__head {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .product__attributes {
    display: -webkit-box;
    display: flex;
  }
}
.product__attr {
  color: #29435d;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .product__attr {
    margin: 0;
  }
}
.product__attr br {
  display: none;
}
@media (min-width: 768px) {
  .product__attr br {
    display: inline;
  }
}
.product__attr:last-of-type {
  margin: 0 0 30px 0;
}
@media (min-width: 768px) {
  .product__attr:last-of-type {
    margin: 0 auto 0 0;
  }
}
@media (min-width: 768px) {
  .product__attr--cpu {
    width: 130px;
    margin: 0 22px 0 0;
  }
}
@media (min-width: 1200px) {
  .product__attr--cpu {
    margin: 0 80px 0 0;
  }
}
@media (min-width: 768px) {
  .product__attr--ram {
    width: 100px;
    margin: 0 40px 0 0;
  }
}
@media (min-width: 1200px) {
  .product__attr--ram {
    margin: 0 82px 0 0;
  }
}
@media (min-width: 768px) {
  .product__attr--memory {
    width: 140px;
  }
}
.product__wrapper {
  margin: 28px 0 0 0;
}
@media (min-width: 768px) {
  .product__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    width: 68px;
    margin: 0 0 0 auto;
  }
}
@media (min-width: 1200px) {
  .product__wrapper {
    width: 120px;
  }
}
.product__price {
  display: -webkit-box;
  display: flex;
  margin: 0 0 18px 0;
}
@media (min-width: 768px) {
  .product__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    font-size: 14px;
    margin: 0 0 4px 0;
  }
}
@media (min-width: 1200px) {
  .product__price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    margin: 0 0 14px 0;
  }
}
.product__price-value {
  color: #29435d;
  margin: 0 8px 0 0;
}
@media (min-width: 768px) {
  .product__price-value {
    text-align: center;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .product__price-value {
    margin: 0 8px 0 0;
  }
}
.product__price-unit {
  color: #29435d;
}
@media (min-width: 768px) {
  .product__price-unit {
    text-align: center;
  }
}
.product__orderbtn {
  line-height: 22px;
}
@media (min-width: 768px) {
  .product__orderbtn {
    width: 68px;
  }
}
@media (min-width: 1200px) {
  .product__orderbtn {
    width: 76px;
  }
}
.footer {
  box-shadow: 0 -3px 3px -3px rgba(0,0,0,0.3);
}
.footer__content {
  display: -webkit-box;
  display: flex;
  padding: 32px 20px 24px 20px;
}
@media (min-width: 768px) {
  .footer__content {
    padding: 32px 30px 72px 30px;
  }
}
@media (min-width: 1200px) {
  .footer__content {
    padding: 40px 154px 62px 154px;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 28px 0 0;
}
@media (min-width: 768px) {
  .footer__wrapper {
    -webkit-box-align: start;
            align-items: flex-start;
    margin: 0 34px 0 0;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    margin: 0 48px 0 0;
  }
}
.footer__wrapper .logo {
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .footer__wrapper .logo {
    margin: 0 0 22px 0;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper .logo {
    margin: 0 0 25px 0;
  }
}
.social {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 42px;
}
@media (min-width: 768px) {
  .social {
    width: auto;
    flex-wrap: nowrap;
  }
}
.social__item {
  width: 16px;
  height: 16px;
  margin: 0 6px 12px 0;
}
@media (min-width: 768px) {
  .social__item {
    margin: 0 16px 0 0;
  }
}
@media (min-width: 1200px) {
  .social__item {
    width: 22px;
    height: 22px;
    margin: 0 23px 0 0;
  }
}
.social__item:nth-child(even) {
  margin-right: 0;
}
@media (min-width: 768px) {
  .social__item:nth-child(even) {
    margin-right: 16px;
  }
}
@media (min-width: 1200px) {
  .social__item:nth-child(even) {
    margin-right: 23px;
  }
}
@media (min-width: 768px) {
  .social__item:last-child {
    margin-right: 0;
  }
}
.social__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.social__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: #8391b2;
}
.social__link:hover {
  opacity: 0.6;
}
.social__link:active svg {
  fill: #29435d;
}
.nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.nav__link {
  display: block;
  width: 50%;
  margin: 0 0 13px 0;
  color: #8391b2;
  text-decoration: none;
}
.nav__link--blog {
  -webkit-box-ordinal-group: 3;
          order: 2;
}
.nav__link--solutions {
  -webkit-box-ordinal-group: 4;
          order: 3;
}
.nav__link--datacenters {
  -webkit-box-ordinal-group: 5;
          order: 4;
}
.nav__link--cloud {
  -webkit-box-ordinal-group: 6;
          order: 5;
}
.nav__link--offices {
  -webkit-box-ordinal-group: 7;
          order: 6;
}
.nav__link--equipment {
  -webkit-box-ordinal-group: 8;
          order: 7;
}
.nav__link--about {
  -webkit-box-ordinal-group: 9;
          order: 8;
}
.nav__link:hover {
  opacity: 0.6;
}
.nav__link:active {
  color: #29435d;
}
.nav__link:active svg {
  fill: #29435d;
}
@media (min-width: 768px) {
  .nav__link {
    width: 25%;
    font-size: 12px;
  }
  .nav__link--equipment {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .nav__link--datacenters {
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .nav__link--blog {
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .nav__link--cloud {
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .nav__link--solutions {
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .nav__link--about {
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .nav__link--offices {
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
}
@media (min-width: 1200px) {
  .nav__link {
    font-size: 14px;
  }
}
