.catalog

  &__content
    temp()
    padding 23px 20px

    @media(min-width: width__tablet)
      padding 16px padding__content--tablet 60px padding__content--tablet

    @media(min-width: width__desktop)
      padding 36px padding__content--desktop 80px padding__content--desktop

  &__head
    margin 0 0 18px 0
    font-size font__subhead
    font-weight normal

    @media(min-width: width__tablet)
      margin 0 0 22px 0
      font-size font__subhead--tablet

    @media(min-width: width__desktop)
      margin 0 0 30px 0

  &__message
    display none
    font-weight bold
    color color__brand

    &--show
      display block
