section(class="catalog")
  div(class="catalog__content")
    h2(class="catalog__head") Performance Line
    img(id="loader", src="img/loader.svg", alt="", title="loading data...", width="68", height="68")
    div(class="catalog__message")
