.config

  &__content
    temp()
    padding 30px 20px 0 20px

    @media(min-width: width__tablet)
      padding 52px padding__content--tablet 0 padding__content--tablet

    @media(min-width: width__desktop)
      padding 8px padding__content--desktop 0 padding__content--desktop

  &__head
    margin 0 0 25px 0
    font-size font__head
    text-align center
    line-height 22px

    @media(min-width: width__tablet)
      margin 0 0 44px 0
      font-size font__head--tablet
      line-height 31px

    @media(min-width: width__desktop)
      margin 0 0 62px 0
      font-size font__head--desktop
      line-height 38px
