.logo

  &:hover
    opacity opactiy

  & img
    width 52px
    height 14px

    @media(min-width: width__tablet)
      width 82px
      height 18px

    @media(min-width: width__desktop)
      width 112px
      height 24px
