.contacts
  temp()
  display flex
  justify-content space-between
  align-items center
  list-style none
  width: 56px
  margin 0
  padding 0

  @media(min-width: width__tablet)
    width: 115px

  @media(min-width: width__desktop)
    width auto

  &__item
    display flex

    &:hover
      opacity opactiy

    &:active .contacts__link
      color color__darkgrey

    &:active svg
      fill color__darkgrey

    @media(min-width: width__desktop)
      margin 0 44px 0 0
      font-size 12px

    &:last-child
      margin 0

  &__link
    temp()
    display flex
    align-items center
    text-decoration none
    color color__grey

  &__icon
    temp()
    fill color__grey

    @media(min-width: width__desktop)
      margin 0 16px 0 0

    &--tl
      width 8px
      height 9px

      @media(min-width: width__tablet)
        width 12px
        height 13px

    &--mail
      width 9px
      height 7px

      @media(min-width: width__tablet)
        width 16px
        height 12px

    &--tg
      width 8px
      height 8px

      @media(min-width: width__tablet)
        width 12px
        height 12px

  & span
    display none

    @media(min-width: width__desktop)
      display block
