ul(class="contacts")
  li(class="contacts__item")
    a(class="contacts__link", href="tel:+78005550675", target="blank")
      svg(class="contacts__icon contacts__icon--tl", width="10", height="10")
        use(xlink:href="#inline-phone")
      span +7 (800) 555-06-75
  li(class="contacts__item")
    a(class="contacts__link", href="mailto:sales@selectel.ru", target="blank")
      svg(class="contacts__icon contacts__icon--mail", width="10", height="10")
        use(xlink:href="#inline-mail")
      span Написать в почту
  li(class="contacts__item")
    a(class="contacts__link", href="https://t.me/Selectel", target="blank")
      svg(class="contacts__icon contacts__icon--tg", width="10", height="10")
        use(xlink:href="#inline-telegram")
      span Написать в Telegram
