.contacts
  temp()
  display flex
  justify-content space-between
  align-items center
  list-style none
  width: 115px
  margin 0
  padding 0

  &__item
    display flex

    & a
      temp()
      display flex
      align-items center
      color color__grey
      text-decoration none

    & span
      display none
