@font-face
  font-weight bold
  font-family "Gotham Pro"
  font-style normal;
  font-display optional
  src url("../Gotham Pro.woff2") format("woff2"),
  url("../fonts/Gotham Pro.woff") format("woff")

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

@import "mixin.styl";

@import "variables.styl";
@import "page/page.styl";
@import "header/header.styl";
@import "contacts/contacts.styl";
@import "promo/promo.styl";
@import "btn/btn.styl";
