@font-face
  font-weight normal
  font-family "Gotham Pro"
  font-style normal;
  font-display optional
  src url("../Gotham Pro.woff2") format("woff2"),
  url("../fonts/Gotham Pro.woff") format("woff")

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

@import "mixin.styl";

@import "variables.styl";
@import "btn/btn.styl";
@import "logo/logo.styl";
@import "page/page.styl";

@import "header/header.styl";
@import "contacts/contacts.styl";

@import "promo/promo.styl";

@import "config/config.styl";
@import "filters/filters.styl";
@import "range-control/range-control.styl";
@import "options/options.styl";

@import "catalog/catalog.styl";
@import "product/product.styl";

@import "footer/footer.styl";
@import "social/social.styl";
@import "nav/nav.styl";
