padding__content = 20px
padding__content--tablet = 30px
padding__content--desktop = 150px

width__mobile = 320px
width__tablet = 768px
width__desktop = 1200px

// colors
color__lightengrey = #E5E5E5
color__lightgrey = #C8C8C8
color__grey = #8391B2
color__darkgrey = #29435D

color__lightblue = #B3D8FF
color__blue = #71B6FF
color__darkblue = #2F93FE
color__darkenblue = #0971F5

// font sizes
font = 12px
font--tablet = 16px
font--desktop = 14px

font__btn = 10px
font__btn--tablet = 14px

font__subhead = 14px
font__subhead--tablet = 18px

font__head = 18px
font__head--tablet = 26px
font__head--desktop = 32px
