div(class="range-control")
  div(class="range-control__label") vCPU
  div(class="range-control__wrapper")
    div(class="range-control__bar", id="bar-js")
      div(class="range-control__toggle", id="toggle-js")
    input(class="range-control__output", type="text", id="cpu-js", value="", disabled)
