doctype html
html(lang="ru")
  head
    title Тестовое задание Selectel
    meta(name="description", content="Тестовое задание Selectel")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", href="img/favicon.png", type="image/png")
    link(href="css/style.min.css", rel="stylesheet")
  body(class="page")
    div(style="display: none")
      include ../docs/img/sprite.min.svg
    include blocks/header/header.pug
    include blocks/promo/promo.pug
    include blocks/config/config.pug
    include blocks/catalog/catalog.pug
    include blocks/footer/footer.pug
    script(src="js/script.min.js")
