@font-face
  font-weight normal
  font-family "GothamPro"
  font-style normal;
  font-display optional
  src url("../fonts/GothamPro.woff2") format("woff2"),
  url("../fonts/GothamPro.woff") format("woff")

@import "blocks/mixin.styl";
@import "blocks/variables.styl";

@import "blocks/btn/btn.styl";
@import "blocks/logo/logo.styl";
@import "blocks/page/page.styl";

@import "blocks/header/header.styl";
@import "blocks/contacts/contacts.styl";

@import "blocks/promo/promo.styl";

@import "blocks/config/config.styl";
@import "blocks/filters/filters.styl";
@import "blocks/range-control/range-control.styl";
@import "blocks/options/options.styl";

@import "blocks/catalog/catalog.styl";
@import "blocks/product/product.styl";

@import "blocks/footer/footer.styl";
@import "blocks/social/social.styl";
@import "blocks/nav/nav.styl";
