.header

  &__content
    temp()
    display flex
    justify-content space-between
    padding 10px 22px 10px 18px

    @media(min-width: width__tablet)
      padding 16px padding__content--tablet

    @media(min-width: width__desktop)
      padding 16px padding__content--desktop
