.product
  border 1px solid color__grey
  border-radius 7px
  padding 16px
  margin 0 0 16px 0

  &:last-child
    margin 0

  &__head
    temp()
    font-size 12px
    color color__darkgrey
    margin 0 0 16px 0

  &__attr
    temp()
    color color__darkgrey
    margin 0 0 20px 0

    &:last-of-type
      margin 0 0 30px 0

  &__wrapper
    temp()

  &__price
    temp()
    font-weight bold
    color color__darkgrey
    margin 0 0 20px 0
